<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false"
        android:version="1" />

    <application>
        <activity
            android:name="paulscode.android.mupen64plusae.FlatTestGalleryActivity"
            android:exported="true"
            android:label="Mupen64Plus AE - Flat Test"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Mupen64plusaeTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="paulscode.android.mupen64plusae.QuestVrTestGalleryActivity"
            android:exported="true"
            android:label="Mupen64Plus AE - Quest VR Test"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Mupen64plusaeTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
