<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false"
        android:version="1" />

    <application>
        <!-- Runs before the gallery so every normal ROM launch uses GLideN64, the renderer that
             contains the Quest stereo bridge. -->
        <provider
            android:name="paulscode.android.mupen64plusae.questvr.QuestVrProfileInitializer"
            android:authorities="${applicationId}.questvr.profileinit"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>
